<div class="pure-menu pure-menu-open">
    <img src="/static/admin/login-head.png" style="border: none; width: 200px; height: 58px; margin-bottom: -5px;">
    <p style="width: 200px; margin: 0px; color: white; text-align: center; margin-top: 3px; margin-bottom: 3px;">Operatore:&nbsp;&nbsp;&nbsp;&nbsp;{{ userDisplayName }}</p>
    <p style="width: 200px; margin: 0px; color: white; text-align: center; margin-top: 3px; margin-bottom: 3px; font-size: 0.3em;">Version v1.0.2</p>
    <ul class="pure-menu-list">
        {% for module in modules %}
            {% if module.name == activeModuleName %}
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
            {% else %}
                <li class="pure-menu-item">
            {% endif %}
                    <a class="pure-menu-link" href="{{ path(module.routeName) }}">
                        <i class="fa fa-lg">{{ module.menuIconCharacter }}</i>
                        {{ module.description }}
                    </a>
                </li>
        {% endfor %}
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{{ path('site.root') }}">
                <i class="fa fa-eye fa-lg"></i>
                Visualizza Sito
            </a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="/admin/logout">
                <i class="fa fa-sign-out fa-lg"></i>
                Logout
            </a>
        </li>
    </ul>
</div>