
{% extends "App\\Admin\\Base.twig" %}

{% block title %}
    <title>Gestione Ruoli</title>
{% endblock %}

{% block toolbar %}
    <h1>Gestione Ruoli</h1>
{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped list-table" id="content-table">
        <thead>
        <tr style="font-size: 1.1em;">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th class="actions-col"></th>
        </tr>
        </thead>

        <tbody>

        {% for role in roles %}
            <tr>
                <td class="idcell">{{ role.id }}</td>
                <td>{{ role.name|escape }}</td>
                <td>{{ role.description|escape }}</td>
                <td>
                    <a href="{{ path('admin.roles.edit', {id: role.id}) }}"><i class="fa fa-pencil-square fa-lg"></i></a>
                    <a class="delete"><i class="fa fa-minus-square fa-lg"></i></a>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="4" style="text-align: center;">
                <a href="{{ path('admin.roles.editNew') }}"><i class="fa fa-plus-square fa-2x"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}

{% block tail %}
    {% include "App\\Admin\\DeleteConfirmationDialog.twig" %}
    {% include "App\\Admin\\ErrorDialog.twig" %}

    <script>
        $(".delete").click(function(event) {
            var id = $(event.target).parent().parent().parent().find("*:nth-child(1)").text();
            var name = $(event.target).parent().parent().parent().find("*:nth-child(2)").text();
            $("#dcd-objname").text(name);
            $("#dcd-objid").val(id);
            $("#delete-confirm-dialog").dialog('open');
        });

        $("#dcd-ok").click(function(event) {
            var id = $("#dcd-objid").val();
            $("#delete-confirm-dialog").dialog("close");
            $.getJSON(id+'/delete', function (response) {
                if (response.status) {
                    $(".idcell").each(function (index, element) {
                        if ($(element).text() == id) $(element).parent().remove();
                    });
                }
            });
        });
    </script>
{% endblock %}