{% extends 'App\\Admin\\Base.twig' %}

{% block head %}
    <script type="text/javascript" src="/static/admin/tinymce/tinymce.min.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block title %}
<title>Editor Pagine</title>
{% endblock %}

{% block toolbar %}
<h1>Editor Pagine</h1>
{% endblock %}

{% block content %}

    {% import 'App\\Admin\\AlertMacro.twig' as alert %}

    {% if success %}
        {{ alert.alert('success', "Operazione Completata") }}
    {% endif %}

    {% if exception != null %}
        {{ alert.exceptionAlert(exception.message, exception.traceString) }}
    {% endif %}


<form class="pure-form pure-form-aligned" id="page-editor-form" method="POST" action="
{% if page.id > 0 %}{{ path('admin.pages.updatePage', {id: page.id}) }}{% else %}{{ path('admin.pages.insertPage') }}{% endif %}">

    <!-- <div style="width: 550px; height: 350px; padding: 15px; float: left;">   	 -->
    <div class="pure-u-12-24" style="padding: 10px;">
        <legend>Pagina</legend>

        {% if page.id > 0 %}
        <div class="pure-control-group" ng-show="">
            <label>ID</label>
            <input id="id" type="text" value="{{ page.id }}" disabled>
        </div>
        {% endif %}

        <div class="pure-control-group">
            <label>Nome</label>
            <input name="name" type="text" value="{{ page.name }}">
        </div>

        <div class="pure-control-group">
            <label>Descrizione</label>
            <textarea name="description" rows="4" cols="35" maxlength="155">{{ page.description }}</textarea>
        </div>

        <div class="pure-control-group">
            <label>Titolo</label>
            <input name="title" type="text" value="{{ page.title }}">
        </div>

        <div class="pure-control-group">
            <label>Pubblicata</label>
            <input name="published" type="checkbox" {% if page.published %} checked {% endif %}>
        </div>

        <div class="pure-control-group">
            <label>Pubblica</label>
            <input name="public" type="checkbox" {%  if page.public %} checked {% endif %}>&nbsp;&nbsp;
            {#<button class="pure-button pure-button-primary" style="background: rgb(66, 184, 221);">Imposta gruppi abilitati</button>#}
        </div>

        <div class="pure-control-group">
            <label>Lingua</label>
            <select name="language">
                {% for language in languages %}
                <option value="{{ language.id }}" {% if page.getLanguage() is not null and language.id == page.getLanguage().id %} selected {% endif %}>
                    {{ language.description }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="pure-control-group" style="margin-top:20px;">
            <label>  </label>
            <button type="button" id="save-all" class="pure-button pure-button-primary" style="width: 200px;">Salva tutto</button>
        </div>
    </div>

    <div class="pure-u-10-24" style="overflow: scroll; padding: 10px; float: right;">
        <legend>Url Pagina</legend>
        <div class="pure-control-group">
            <table class="pure-table pure-table-striped center" style="text-align: center;">
                <thead>
                <th style="width: 200px; text-align: center;">http://www.*****.it/</th>
                <th></th>
                </thead>

                {% for url in page.getPageUrls().toArray() %}
                <tr class="urlRow">
                    <td>{{ url.url }}</td>
                    <td><i class="fa fa-pencil-square fa-2x modurl"></i>&nbsp; &nbsp;<i class="fa fa-minus-square fa-2x delurl"></i></td>
                    <input type="hidden" name="url[]" value="{{ url.url }}">
                </tr>
                {% endfor %}

                <tr id="newurlrow">
                    <td colspan="2"><button type="button" class="pure-button" id="newurl">Nuovo</button></td>
                </tr>

                <tr style="display: none;" id="urlrowtpl">
                    <td></td>
                    <td><i class="fa fa-pencil-square fa-2x modurl"></i>&nbsp; &nbsp;<i class="fa fa-minus-square fa-2x delurl"></i></td>
                    <input type="hidden" name="url[]">
                </tr>
            </table>
        </div>

    </div>

    <legend style="line-height: 40px; margin: 5px; width: 99%">Blocchi Pagina <button type="button" class="pure-button pure-button-primary" style="float: right;" id="newblock">Aggiungi Blocco</button></legend>
    <div id="blocks" style="padding: 20px;">
        {% for pageblock in page.getPageBlocksArray() %}
        <div class="blockeditor">
            <fieldset class="blockdata">
                {#<input type="hidden" name="block[type][]" value="{{ pageblock.block. }}"#}

                <input type="hidden" name="block[id][]" value="{{ pageblock.block.id }}">
                <input type="hidden" name="block[name][]" value="{{ pageblock.block.name }}">
                <input type="hidden" name="block[description][]" value="{{ pageblock.block.description }}">
                <input type="hidden" name="block[style][]" value="{{ pageblock.block.getBlockStyleClassName() }}">

                <input type="hidden" name="block[bckurl][]" value="{{ pageblock.block.bgurl }}">
                <input type="hidden" name="block[bckred][]" value="{{ pageblock.block.bgred }}">
                <input type="hidden" name="block[bckgreen][]" value="{{ pageblock.block.bggreen }}">
                <input type="hidden" name="block[bckblue][]" value="{{ pageblock.block.bgblue }}">
                <input type="hidden" name="block[bckopacity][]" value="{{ pageblock.block.bgopacity }}">
                <input type="hidden" name="block[bckrepeatx][]" value="{{ pageblock.block.bgrepeatx }}">
                <input type="hidden" name="block[bckrepeaty][]" value="{{ pageblock.block.bgrepeaty }}">
                <input type="hidden" name="block[bcksize][]" value="{{ pageblock.block.bgsize }}">
            </fieldset>
            <div class="blockcontentdiv">
                {% if pageblock.block.isEditable %}
                    {{ pageblock.block.content|raw }}
                {% else %}
                    {{ pageblock.block.getHTML(app)|raw }}
                {% endif %}
            </div>
            <textarea id="tmceeditor{{ loop.index }}" class="blockcontent" name="block[content][]" style="display: none;"></textarea>
            <div class="blockbuttons" style="margin-top: 5px; clear: both;">
                <button type="button" class="pure-button pure-button-primary upbutton">Su</button>
                <button type="button" class="pure-button pure-button-primary downbutton">Giu</button>
                <button type="button" class="pure-button pure-button-primary delblock">Elimina</button>
                {% if pageblock.block.isEditable %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="pure-button pure-button-primary applyblock" style="display: none;">Applica Modifiche</button>
                    <button type="button" class="pure-button pure-button-primary modblock">Modifica</button>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="pure-button pure-button-primary blockproperties">Propriet&agrave; Blocco</button>
            </div>
        </div>
        {% endfor %}
    </div>

</form>

<div id="editormodel" class="blockeditor" style="display: none;">
    <fieldset class="blockdata">
        <input type="hidden" name="block[id][]" value="0">
        <input type="hidden" name="block[name][]">
        <input type="hidden" name="block[description][]">
        <input type="hidden" name="block[style][]">

        <input type="hidden" name="block[bckurl][]">
        <input type="hidden" name="block[bckred][]">
        <input type="hidden" name="block[bckgreen][]">
        <input type="hidden" name="block[bckblue][]">
        <input type="hidden" name="block[bckopacity][]">
        <input type="hidden" name="block[bckrepeatx][]">
        <input type="hidden" name="block[bckrepeaty][]">
        <input type="hidden" name="block[bcksize][]">
    </fieldset>
    <textarea class="blockcontent" name="block[content][]" style="display: none;"></textarea>
    <div class="blockbuttons" style="margin-top: 5px; clear: both;">
        <button type="button" class="pure-button pure-button-primary upbutton">Su</button>
        <button type="button" class="pure-button pure-button-primary downbutton">Giu</button>
        <button type="button" class="pure-button pure-button-primary delblock">Elimina</button>
        <span class="editable-buttons">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="pure-button pure-button-primary applyblock">Applica Modifiche</button>
            <button type="button" class="pure-button pure-button-primary modblock">Modifica</button>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="pure-button pure-button-primary blockproperties">Propriet&agrave; Blocco</button>
    </div>
</div>

</div>
</div>
</div>

{% endblock %}

{% block tail %}

<!-- INIZIO CODICE DEFINIZIONE DIALOG NUOVO BLOCCO -->
{% include 'App\\Admin\\Module\\Pages\\NewBlockDialog.twig' %}
<!-- FINE CODICE DEFINIZIONE DIALOG NUOVO BLOCCO -->

<!-- INIZIO CODICE DEFINIZIONE DIALOG PROPRIETA BLOCCO -->
{% include 'App\\Admin\\Module\\Pages\\BlockPropertiesDialog.twig' %}
<!-- FINE CODICE DEFINIZIONE DIALOG PROPRIETA BLOCCO -->


    <div id="newUrlDialog" style="display: none;">
        <form>
            <label>Nuovo Url</label>&nbsp;
            <input type="text" id="nud-url" class="pure-form">
        </form>
    </div>

    <div id="updateUrlDialog" style="display: none;">
        <form>
            <label>Url</label>&nbsp;&nbsp;<input type="text" id="uud-url">
            <br><br>
            <input type="checkbox" id="uud-refactor" checked>&nbsp;<label>Controllare se l'url &egrave; usato nei link&quest;</label>
        </form>
    </div>

    <div id="urlRefactoringPreviewDialog" style="display: none; overflow: scroll;">
        <form>
        <table class="pure-table pure-table-striped" style="max-width: 95%; margin: auto;">
            <thead>
                <th></th>
                <th>Nome Blocco</th>
                <th>Url da sovrascrivere</th>
                <th></th>
            </thead>
            <tbody>
            {#<tr>#}
                {#<td><input type="checkbox"></td>#}
                {#<td>Blocco prova</td>#}
                {#<td>/url-da-sostituire-di-prova</td>#}
                {#<td><button class="pure-button show-link-content">Dettagli</button></td>#}
            {#</tr>#}
            {#<tr style="display: none;">#}
                {#<td colspan="4">#}
                {#<img src="/resources/uploads/capraia-1.jpg" alt="" width="19" height="19" />#}
                {#</td>#}
            {#</tr>#}
            </tbody>
        </table>
        </form>
    </div>



<div id="fileManagerDialog" style="display: none;">
    <iframe src="" style="width:100%;height:100%" frameborder="0"></iframe>
</div>

<script type="text/javascript" src="/static/admin/js/form.actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urltable.controller.js"></script>
<script src="/static/admin/js/menu.js"></script>
{#{% if page.id > 0 %}#}
<script type="text/javascript">
    editor_idx={{ (page.getPageBlocksArray() | length)+1 }};
</script>
{#{% endif %}#}

    {% include "App\\Admin\\ErrorDialog.twig" %}

{% endblock %}