
{% extends "App\\Admin\\Base.twig" %}

{% block title %}
<title>Gestione Pagine</title>
{% endblock %}

{% block toolbar %}
<h1>Gestione Pagine</h1>
{% endblock %}

{% block content %}
<table class="pure-table pure-table-striped center" id="content-table" style="margin-top: 3em;">
    <thead>
    <tr style="font-size: 1.1em;">
        <th>ID</th>
        <th>Nome</th>
        <th>Titolo</th>
        <th>Pubblicata</th>
        <th></th>
    </tr>
    </thead>

    <tbody>

    {% for page in pages %}
    <tr>
        <td class="idcell">{{ page.id }}</td>
        <td>{{ page.name|escape }}</td>
        <td>{{ page.title|escape }}</td>
        <td>{% if page.isPublished() == 1 %} S&igrave; {% else %} No {% endif %}</td>
        <td>
            <a class="editpage" href="{{ path('admin.pages.editPage', {id: page.id}) }}"><i class="fa fa-pencil-square fa-lg"></i></a>
            <a class="duplicatepage"><i class="fa fa-plus-square fa-lg"></i></a>
            <a class="delpage delete"><i class="fa fa-minus-square fa-lg"></i></a>
        </td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="5" style="text-align: center;">
            <a href="{{ path('admin.pages.editNewPage') }}"><i class="fa fa-plus-square fa-2x"></i></a>
        </td>
    </tr>

    </tbody>
</table>
{% endblock %}

{% block tail %}
{% include "App\\Admin\\DeleteConfirmationDialog.twig" %}
{% include "App\\Admin\\ErrorDialog.twig" %}
{% include "App\\Admin\\ActionConfirmationDialog.twig" %}

<script>
    $(".delpage").click(function(event) {
        var id = $(event.target).parent().parent().parent().find("*:nth-child(1)").text();
        var name = $(event.target).parent().parent().parent().find("*:nth-child(2)").text();
        $("#dcd-objname").text(name);
        $("#dcd-objid").val(id);
        $("#delete-confirm-dialog").dialog('open');
    });
    $(".duplicatepage").click(function(event) {
        var id = $(event.target).parent().parent().parent().find("*:nth-child(1)").text();
        var name = $(event.target).parent().parent().parent().find("*:nth-child(2)").text();
        $("#acd-message").after("<div class=\"pure-control-group\" id=\"acd-dup-blocks-div\">" +
        "<input type=\"checkbox\" id=\"acd-duplicate-blocks\" value=\"1\" checked>" +
        "<label>Duplica anche i blocchi nella pagina</label></div>");
        $("#acd-message").text("Confermi la duplicazione della pagina "+name+" e di tutti i blocchi in essa contenuti?");
        $("#acd-objid").val(id);
        $("#action-confirmation-dialog").dialog("open");
    });
    $("#acd-cancel").click(function() {
        $("#acd-dup-blocks-div").remove();
    });
    $("#acd-ok").click(function() {
        //Action when user confirm page duplication
        //Send a message to the server requesting operation
        //operation must be implemented in pagews script
        //Collects info
        var id = $("#acd-objid").val();
        $("#action-confirmation-dialog").dialog("close");
        var duplicateblocks = $("#acd-duplicate-blocks").prop("checked");
        infos = {
            duplicateblocks: duplicateblocks
        };
        $("#acd-dup-blocks-div").remove();
        //Send duplication request to pagews
        $.post(id+'/duplicate', infos, function (response) {
            //Response is OK/ERROR and new page id separated by a space
            //So i can split on " " to obtain two arguments
            if (response.result = true ) {
                var row_clone;
                //Search for row of page duplicated and clones it for
                $(".idcell").each(function(index, element) {
                    if ($(element).text() == id) row_clone = $(element).parent().clone(true);
                }).after(function() {
                    //appending cloned row to the page list table
                    row_clone.find(".idcell").text(response.id);
                    row_clone.find(".idcell").next().text(response.name);
                    row_clone.find(".editpage").attr('href', response.id+'/edit');
                    $("#content-table tbody").children().last().before(row_clone);
                });
            }
            else {
                //If things goes wrong
                var errorDetailString = response.exception+"\n\n"+response.trace;
                $("#error-dialog").find("#erd-errdata").val(errorDetailString);
                $("#error-dialog").dialog("open");
            }
        }, 'json');
    });

    $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
        //var cloned = $("#error-dialog").clone(true);
        var cloned = $("#error-dialog");
        cloned.find("p").remove();
        cloned.find("textarea").remove();
        cloned.children().first().before($("<p>Errore: "+thrownError+"</p>"));
        $(cloned).dialog("open");
    });
    $("#dcd-ok").click(function(event) {
        var id = $("#dcd-objid").val();
        $("#delete-confirm-dialog").dialog("close");
        $.get(id+'/delete', function (response) {
            if (response == "OK") {
                $(".idcell").each(function(index, element) {
                    if ($(element).text() == id) $(element).parent().remove();
                });
            } else {
                $("#error-dialog").find("#erd-errdata").val(response);
                $("#error-dialog").dialog("open");
            }
        });
    });
</script>
{% endblock %}