
{% extends "App\\Admin\\Base.twig" %}

{% block title %}
    <title>Gestione Utenti</title>
{% endblock %}

{% block toolbar %}
    <h1>Gestione Utenti</h1>
{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped center" id="content-table" style="margin-top: 3em;">
        <thead>
        <tr style="font-size: 1.1em;">
            <th>ID</th>
            <th>Username</th>
            <th>Nome e Cognome</th>
            <th>Abilitato</th>
            <th>Valido (Scadenza)</th>
            <th>Valido (Scadenza Credenziali)</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        {% macro presentBooleanValue(val) %}
            {% if val %}
            <i class="fa fa-check"></i>
            {% else %}
            <i class="fa fa-times"></i>
            {% endif %}
        {% endmacro %}

        {% import _self as listView %}

        {% for user in users %}
            <tr>
                <td class="idcell">{{ user.id }}</td>
                <td>{{ user.username|escape }}</td>
                <td>{{ user.name|escape }} {{ user.surname|escape }}</td>
                <td style="text-align:center;">{{ listView.presentBooleanValue(user.isEnabled()) }}</td>
                <td style="text-align:center;">{{ listView.presentBooleanValue(user.isAccountNonExpired()) }}</td>
                <td style="text-align:center;">{{ listView.presentBooleanValue(user.isCredentialsNonExpired()) }}</td>
                <td>
                    <a href="{{ path('admin.users.edit', {id: user.id}) }}"><i class="fa fa-pencil-square fa-lg"></i></a>
                    <a class="deluser delete"><i class="fa fa-minus-square fa-lg"></i></a>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="7" style="text-align: center;">
                <a href="{{ path('admin.users.editNew') }}"><i class="fa fa-plus-square fa-2x"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}

{% block tail %}
    {% include "App\\Admin\\DeleteConfirmationDialog.twig" %}
    {% include "App\\Admin\\ErrorDialog.twig" %}

    <script>
        $(".deluser").click(function(event) {
            var id = $(event.target).parent().parent().parent().find("*:nth-child(1)").text();
            var name = $(event.target).parent().parent().parent().find("*:nth-child(2)").text();
            $("#dcd-objname").text(name);
            $("#dcd-objid").val(id);
            $("#delete-confirm-dialog").dialog('open');
        });

        $("#dcd-ok").click(function(event) {
            var id = $("#dcd-objid").val();
            $("#delete-confirm-dialog").dialog("close");
            $.getJSON(id+'/delete', function (response) {
                if (response.status) {
                    $(".idcell").each(function (index, element) {
                        if ($(element).text() == id) $(element).parent().remove();
                    });
                }
            });
        });
    </script>
{% endblock %}