
{% extends 'App\\Admin\\Base.twig' %}

{% block title %}
<title>Editor Menu</title>
{% endblock %}

{% block toolbar %}
<h1>Editor Menu</h1>
{% endblock %}

{% block content %}

    {% import 'App\\Admin\\AlertMacro.twig' as alert %}

    {% if success %}
        {{ alert.alert('success', "Operazione Completata") }}
    {% endif %}

    {% if exception != null %}
        {{ alert.exceptionAlert(exception.message, exception.traceString) }}
    {% endif %}

    <form method="POST" class="pure-form"
          action="{% if menu.id > 0 %}{{ path('admin.menu.updateMenu', {id: menu.id}) }}{% else %}{{ path('admin.menu.insertMenu') }}{% endif %}">

        <div class="pure-form-aligned">
            <legend>Informazioni</legend>

            {% if menu.id > 0 %}
                <div class="pure-control-group">
                    <label>Id</label>
                    <input type="text" value="{{ menu.id }}" disabled>
                </div>
            {% endif %}

            <div class="pure-control-group">
                <label>Name</label>
                <input type="text" name="menu_name" value="{{ menu.name }}">
            </div>
            <div class="pure-control-group">
                <label>Description</label>
                <textarea name="menu_description">{{ menu.description }}</textarea>
            </div>
            <div class="pure-control-group">
                <label>  </label>
                <button type="submit" class="pure-button pure-button-primary" style="width: 200px;">Salva Tutto</button>
            </div>
        </div>

        <legend>Struttura</legend>
        <!-- INIZIO AREA EDITING MENU -->
        <ul>
            {% macro menu(menuobj, level) %}
                {% import _self as menuMacro %}
                    {% for child in menuobj.Children %}
                        <li level={{ level }}>
                            <span class="label-caption">{{ child.label }}</span>
                            <input type="text" name="label[]" style="display: none;" placeholder="Etichetta" value="{{ child.label }}">&nbsp;&nbsp;
                            <input type="text" name="url[]" style="display: none;" placeholder="Url" value="{{ child.url }}">
                            <input type="hidden" name="level[]" value="{{ level }}">
                            <a class="edit-li"><i class="fa fa-pencil-square fa-lg"></i></a>
                            <a class="delete-li"><i class="fa fa-minus-square fa-lg"></i></a>
                            <a class="up-li"><i class="fa fa-arrow-up fa-lg"></i></a>
                            <a class="down-li"><i class="fa fa-arrow-down fa-lg"></i></a>
                            <ul>
                                {% if child.Children %}
                                    {{ menuMacro.menu(child, level+1) }}
                                {% endif %}
                                <li class="new-li" level={{ level+1 }}><a class="new-li-a"><i class="fa fa-plus-square fa-lg"></i></a></li>
                            </ul>
                        </li>
                    {% endfor %}
            {% endmacro %}

            {% import _self as menuMacro %}

            {{ menuMacro.menu(menu, 0) }}

            <li level=0 class="new-li"><a class="new-li-a"><i class="fa fa-plus-square fa-lg"></i></a></li>

            <li style="display: none;" id="li-template">
                <span class="label-caption">Nuovo</span>
                <input type="text" name="label[]" style="display: none;" placeholder="Etichetta">&nbsp;&nbsp;
                <input type="text" name="url[]" style="display: none;" placeholder="Url">
                <input type="hidden" name="order[]">
                <input type="hidden" name="level[]">
                <a  class="edit-li"><i class="fa fa-pencil-square fa-lg"></i></a>
                <a class="delete-li" ><i class="fa fa-minus-square fa-lg"></i></a>
                <a class="up-li" ><i class="fa fa-arrow-up fa-lg"></i></a>
                <a class="down-li" ><i class="fa fa-arrow-down fa-lg"></i></a>
                <ul>
                    <li class="new-li"><a class="new-li-a" ><i class="fa fa-plus-square fa-lg"></i></a></li>
                </ul>
            </li>
        </ul>
        <!-- FINE AREA EDITING MENU -->

    </form>

{% endblock %}

{% block tail %}
    <style>
        legend {
            margin-left: 10px;
        }
        .label-caption {
            display: inline-block;
            width: 150px;
            border-bottom: solid 1px #ccc;
        }
    </style>

    <script type="text/javascript" src="/static/admin/js/gestmenu.js"></script>

{% endblock %}